#est {
  width: 60%;
  margin: auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tarjeta {
  color: azure;
  background: rgba(var(--ion-color-fondoRespuesta-rgb), 0.3);
}

.letra-blanca {
  color: azure;
}

// ion-back-button,
// #titulo {
//   color: var(--ion-color-amarillo);
// }
