#titulo {
  font-size: 50px;
  font-family: 'Stardos Stencil', cursive;
}

.separar {
  margin-top: 40px;
}

.imagen {
  display: block;
  border: 1px solid #ffff00;
  border-radius: 10%;
  // width: 100%;
  // height: auto;
  margin: auto;
  // max-width: 100%;
}
