#trofeo {
  width: 50%;
  margin: auto;
  display: block;
  margin-top: 5px;
}

#incorrectas {
  background: rgba(255, 0, 0, 0.2);
}

p {
  font-size: 60px;
}

#posicion,
#totalJugadores {
  font-size: 2.5em;
}

#text {
  font-size: 1.5em;
}
